/* Loader */
.myLoaderBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    31,
    41,
    55,
    0.2
  ); /* Change the background color and opacity as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Set an appropriate z-index to ensure it overlays other content */
}

/* image */
.imagePreview {
  min-height: 20rem;
  max-height: 20rem;
}

@media (min-width: 1024px) {
  /* CSS rules here will only apply on screens 1024px wide or larger */
  .eyeParent .eyeIcon {
    display: none;
  }

  .eyeParent:hover .eyeIcon {
    display: block;
  }
}

@media (max-width: 1024px) {
  .wrapImg {
    display: none;
  }
}
